@import url("reset.css");
@import url("typography.css");
body {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: column; }

.header {
  height: auto;
  width: 100%;
  max-width: 1280px;
  position: relative;
  bottom: 0; }

.top_header {
  width: 100%;
  height: auto;
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; }

.top_menu {
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }

.logo {
  margin: 5px 25px; }

.story {
  flex-basis: 75%;
  margin: 5px auto 0 auto; }

.user {
  flex-basis: 20%;
  text-align: right;
  margin: 5px 1% 5px 0; }

.user_icons {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.language {
  width: 100px;
  padding: 5px 5px; }

.line {
  width: 100%;
  height: 1px;
  background-color: #cccccc; }

.bottom_header_img {
  height: 230px;
  background-size: 100% auto;
  border: none;
  border-radius: 0 0 20px 20px; }

.bottom_header {
  width: 100%;
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc; }

.edu_bottom_menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bottom_menu {
  position: absolute;
  height: 40px;
  width: 40px;
  margin: 0 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center; }

.title {
  width: 100%;
  height: auto;
  display: flex;
  flex-basis: 100%;
  text-align: left;
  justify-content: flex-start; }

.h_title {
  margin: 3% 3%;
  display: flex;
  align-self: center; }

.header_bottom_line {
  position: relative;
  border-top: 1px solid #FFFFFF;
  height: 55px;
  width: 95%;
  margin: 0 2.5%; }

.header_bottom_line_menu {
  display: inline-block;
  padding: 10px 15px;
  background: none;
  border: none;
  margin-bottom: -2px; }

main {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 40px auto; }

.container {
  position: relative !important;
  width: 100% !important;
  min-width: 300px !important;
  height: auto !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 !important;
  margin: 0 0 !important; }
  .container nav {
    width: 20% !important;
    flex-basis: 20% !important;
    max-width: 250px !important;
    text-align: left !important;
    padding: auto 10px !important; }

.content1 {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  border-right: 1px solid #cccccc;
  margin: 0 1%; }

.table_content {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px; }

.table_header {
  display: flex;
  flex-direction: row; }

footer {
  width: 100%;
  position: absolute;
  background-color: #e8e8e8; }

.footer {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 auto; }

.copyright_footer {
  position: relative;
  flex-basis: 50%;
  padding: 20px 0 0 20px; }

.info {
  position: relative;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  margin: 5px; }

.adr_title {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0; }

.adr_content {
  display: flex;
  flex-direction: row;
  margin-top: 5%; }

.adress {
  flex-basis: 50%;
  word-wrap: break-word;
  padding: 10px 5px; }

.mail {
  flex-basis: 50%;
  word-wrap: break-word;
  padding: 10px 5px; }

.links_box {
  position: relative;
  flex-basis: 15%;
  margin: 5px; }

.links_title {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
  text-align: left; }

.links_content {
  margin-top: 5%;
  text-align: left; }

.links {
  border-radius: 15px;
  text-align: center;
  width: 22px;
  height: 22px;
  padding: 1px 3px;
  display: inline-block;
  margin: 2px auto; }

.vk {
  background-color: #6a97c8; }

.fb {
  background-color: #486093; }

.tw {
  background-color: #29c2ff; }

.gp {
  background-color: #ff704d; }

.yt {
  background-color: #ff4242; }

.header_user_menu {
  position: absolute;
  width: 25%;
  max-width: 400px;
  height: auto;
  top: 10%;
  right: 11.2%;
  background-color: white;
  border: 1px solid #cccccc;
  display: none;
  z-index: 2;
  text-align: center; }

.header_search_menu {
  position: absolute;
  width: 25%;
  max-width: 400px;
  height: auto;
  top: 10%;
  right: 7.9%;
  background-color: white;
  border: 1px solid #cccccc;
  display: none;
  z-index: 2;
  text-align: center; }

.user_active {
  position: absolute;
  height: 100%;
  width: auto;
  right: 7%;
  top: 30%;
  z-index: 1;
  background-color: white;
  display: none; }

.header_bottom_menu {
  position: absolute;
  width: 300px;
  max-width: 300px;
  height: 1000px;
  word-wrap: break-word;
  background-color: #edf0f2;
  display: none;
  z-index: 2; }

.base_menu {
  width: 100%;
  height: auto; }

.primary {
  display: block; }

.user_menu_title {
  display: inline-block;
  width: 30%;
  height: 20px;
  margin: 5% 0 5% 35%;
  float: left;
  color: gray; }

.form_close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1.5rem; }
  .form_close:hover {
    background-color: #cccccc;
    cursor: pointer; }
    .form_close:hover span.letter_top:hover {
      background: none; }

.table_row {
  display: flex;
  flex-direction: column; }

.table_row_title {
  display: flex;
  flex-direction: row; }

.table_row_data {
  display: flex;
  flex-direction: column; }

.table_row_data_new {
  display: flex;
  flex-direction: row; }

.number {
  flex-basis: 10%;
  margin: 10px 0;
  word-wrap: break-word;
  padding: 0 5px; }

.program {
  flex-basis: 50%;
  margin: 10px 0;
  word-wrap: break-word;
  padding: 0 5px; }

.training {
  flex-basis: 20%;
  margin: 10px 0;
  word-wrap: break-word;
  padding: 0 5px; }

.plan {
  flex-basis: 20%;
  margin: 10px 0;
  word-wrap: break-word;
  padding: 0 5px; }

.right_menu {
  margin: auto 10%; }

.input {
  width: 80%;
  height: auto;
  margin: 2% 10%;
  padding: 5px 5px; }

.button_header {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #80c684;
  border: none; }
  .button_header:hover {
    background-color: #61b865;
    cursor: pointer; }

.hr {
  width: 100%;
  height: 0;
  border-top: 1px dotted #969696; }

a {
  text-decoration: none;
  color: #1565c1; }
  a:hover {
    text-decoration: underline; }

.letter_top:hover {
  cursor: pointer;
  background-color: #d9d9d9; }

.open_modal:hover {
  color: #969696; }

.header_dropdown {
  height: 10%; }
  .header_dropdown .btn-default {
    border: none; }
    .header_dropdown .btn-default:hover {
      background-color: #25c5da; }
  .header_dropdown ul.nav-pills a.btn:hover {
    background-color: #68bb6c; }

ul.right_menu li {
  margin: 7px auto; }

ul.bottom_menu_open a {
  color: #969696;
  line-height: 2rem; }

ul.search_job li {
  position: relative;
  list-style-type: decimal;
  margin-left: 5%;
  line-height: 1.2rem; }

.modal_div {
  width: 700px;
  height: 500px;
  overflow: auto;
  border-radius: 3px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -250px;
  margin-left: -350px;
  display: none;
  opacity: 0;
  z-index: 16;
  padding: 20px 10px; }

.modal_form .modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  left: 100px;
  cursor: pointer; }

#overlay {
  z-index: 15;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 120%;
  left: 0;
  margin-top: -50px;
  cursor: pointer;
  display: none; }

.bottom_menu_img {
  height: 200px;
  background-size: 100% auto;
  background-position: right bottom;
  border: none;
  border-radius: 0 0 20px 20px;
  margin-top: 0; }

.reg_background_header {
  background-image: url(../img/reg_header_img.png);
  background-position: right bottom; }

.article {
  width: 100%;
  height: auto;
  padding: 15px 15px; }

.reg_done {
  width: 100%;
  height: auto;
  display: none; }

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px; }

.form_registration {
  width: 50%;
  height: 500px;
  flex-basis: 50%;
  padding: 2px 5px; }

.form_search_users {
  width: 50%;
  height: 500px;
  overflow: auto;
  flex-basis: 50%;
  margin-left: 10px; }

.reg_form_input {
  width: 95%;
  border: 1px solid #cccccc;
  padding: 8px 8px;
  margin: 20px 0; }

.reg_form_input_alternative {
  width: 46.5%; }

.user_row {
  width: 90%;
  height: auto;
  margin: 5% 5%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 3% 3%; }

.buttom_reg {
  background-color: #FFFFFF;
  padding: 3px 3px;
  word-wrap: break-word;
  border: 1px solid white; }
  .buttom_reg:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #d9d9d9; }

.primary a:hover {
  cursor: pointer;
  padding: 3px 0 0 3px; }

.alternative {
  width: 98%;
  height: 500px;
  padding: 2px 0 0 5px;
  position: absolute;
  display: none;
  background-color: #ffffff;
  z-index: 3; }

.doc_edit_background_header {
  background-image: url("../img/doc_edit_img.png");
  background-position: 50% 45%; }

.comment {
  width: 80%; }

.or {
  display: flex;
  margin: auto;
  padding: 10px 10px; }

.new_prog {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.item_group_prog {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.item_prog {
  flex-basis: 23%; }

.remove {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15%;
  margin: 0 0;
  padding: 3px 3px; }

.doc_background_header {
  background-image: url("../img/doc_img.jpg");
  background-position: 50% 20%; }

.header_bottom_line .btn-group {
  height: 100%; }
  .header_bottom_line .btn-group .btn-link {
    height: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgba(128, 128, 128, 0.1);
    background: none;
    text-decoration: none; }

.title_prog {
  flex-basis: 50%; }

.faculty_prog {
  flex-basis: 20%; }

.department {
  flex-basis: 20%; }

.btn_line {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.home_header_logo_left {
  width: 60%;
  height: 230px;
  position: absolute;
  background-image: url("../img/home_header_left.jpg");
  background-position: bottom;
  background-size: cover; }

.home_header_logo_right {
  width: 60%;
  height: 230px;
  position: absolute;
  right: 0;
  text-align: left;
  background-image: url("../img/home_header_right.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  filter: alpha(Opacity=10); }

.home_logo {
  height: 230px;
  display: flex;
  flex-basis: 60%;
  justify-content: flex-end;
  padding: 0 3%; }

.home_header_title {
  text-align: right;
  padding: 0 5%;
  margin-top: 5%; }

.home_logo_icons {
  position: absolute;
  bottom: 20px;
  margin-left: -110px; }

.home_menu {
  display: flex;
  flex-basis: 40%;
  flex-direction: row;
  justify-content: space-between;
  align-self: center; }

.home_menu_item {
  word-break: break-all;
  flex-basis: 30%; }

.home_line_menu {
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 40px;
  position: relative;
  float: right;
  border-radius: 25px;
  background-color: #26a69c; }

a.home_line_menu:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  background-color: #32958d; }

.content1 .carousel {
  border-radius: 10px; }
  .content1 .carousel .carousel-inner .item {
    height: 200px;
    border-radius: 10px;
    overflow: hidden; }
    .content1 .carousel .carousel-inner .item img {
      width: 100%; }
    .content1 .carousel .carousel-inner .item .carousel-caption {
      width: 80%;
      height: 70%;
      left: 40px;
      bottom: -20px; }
.content1 .table_content .news_row {
  display: flex;
  flex-direction: row; }
  .content1 .table_content .news_row .logo_row {
    flex-basis: 10%;
    text-align: center; }
    .content1 .table_content .news_row .logo_row img {
      width: 100px;
      height: 100px; }
    .content1 .table_content .news_row .logo_row p {
      margin: auto 5px; }
  .content1 .table_content .news_row .data_row {
    flex-basis: 85%;
    margin: 0 2.5%;
    flex-direction: column; }
    .content1 .table_content .news_row .data_row .theme_row .theme_letter {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 10px; }
    .content1 .table_content .news_row .data_row .theme_row a {
      margin: auto 5px; }

.carousel_chrome {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: -8px;
  left: -8px;
  border-radius: 15px;
  border: 10px solid #000; }

a.left {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

a.right {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.container nav {
  width: 40%;
  flex-basis: 40%;
  max-width: 100%;
  text-align: left;
  padding: auto auto; }

.item_content a:hover {
  color: #000;
  text-decoration: none; }

.home_nav {
  width: 40%;
  display: flex;
  flex-direction: row; }

.home_news {
  flex-basis: 45%;
  margin: 0 10px; }

.home_info {
  flex-basis: 45%;
  margin: 0 10px; }

.item_title i {
  display: inline-block;
  float: right; }

.up {
  margin: 10px 0; }

.border_none {
  border: none; }

.prog_error {
  border-left: 4px solid red;
  padding-left: 30px; }

.right {
  text-align: right; }

.margin_left {
  margin: 10px 2%; }

.padding_top {
  padding: 10px auto; }

.half {
  width: 50%; }

.block {
  width: 80%; }

.flex_col {
  display: flex;
  flex-direction: column; }

.flex_row {
  display: flex;
  flex-direction: row; }

.flex_bet {
  justify-content: space-between; }

.invis {
  display: none; }

/*# sourceMappingURL=style_global.css.map */
