@font-face
  font-family: ComfortaaRegular
  src: local("Comfortaa"), url(../fonts/comfortaa-regular.ttf)
$menu_link: hsla(212, 80%, 42%, 1)
body
  font:
    family: Helvetica, Arial, sans-serif
    size: 2rem
.h_title
  font:
    size: 2.725rem
    weight: bolder
  color: hsla(0,0%,100%,1)
.font1
  color: hsla(0,0%,0%,1)
  font:
    size: 1.85rem
    weight: normal
  margin-top: 0
.font2
  color: hsla(0,0%,0%,1)
  font:
    size: 1.5rem
    weight: normal
  line-height: 1.6rem
.font3
  color: #000
  font:
    size: 1.2rem
    weight: normal
  line-height: 1.3rem
.font4
  color: $menu_link
  font:
    weight: bold
    size: 1.3rem
.letter_top
  color: hsla(0, 0%, 59%, 1)
  font-size: 18px
  display: inline-block
  &:hover
    text-decoration: none
.letter_links
  color: hsla(0,0%,100%,1)
  font-size: 15px
  line-height: 0
.story
  font-size: 1.625rem
  color: hsla(240,100%,40%,.8)
.copyright
  font-size: 1.2rem
.form_close
  font-size: 24px
.bright
  font-weight: normal
  color: hsla(0, 0%, 59%, 1)
.color_training
  color: hsla(288, 47%, 48%, 1)
.color_plan
  color: hsla(14, 82%, 46%, 1)
.base_little
  font-size: 1.3rem
.base
  font-size: 1.5rem
.base_menu
  font-size: 1.625rem
.base_menu_mid
  font-size: 1.8rem
.base_menu_big
  font-size: 2.1rem
.italic
  font-style: italic
.search_name
  font:
    size: 1.57rem
    weight: bold
  line-height: 1.7rem
.header_bottom_menu
  font-size: 1.7rem
  line-height: 1.8rem
.input
  font-size: 1.5rem
.button_header
  font-size: 1.5rem
  color: hsla(0,0%,100%,1)
.buttom_reg
  font-size: 1.625rem
  color: $menu_link
.comment
  font:
    size: 1.2rem
    style: oblique
.prog_remove
  color: red
  font-size: 1.6rem
.prog_add
  color: green
  font-size: 1.5rem
.b
  font-weight: bold
.remove
  color: red
.header_bottom_line_menu
  color: #FFFFFF
  font-weight: 500
  &:hover
    color: #FFFFFF
    text-decoration: none
.header_dropdown
  .btn-default
    color: hsla(0, 0%, 0%, 1)
    &:hover
      color: hsla(0, 0%, 100%, 1)
      text-decoration: none
  ul.nav-pills a.btn:hover
    color: hsla(0, 0%, 100%, 1)
ul.right_menu a
  color: hsla(0,0%,0%,1)
  &:hover
    color: $menu_link
.header_bottom_line
  .btn-group
    .btn-link
      color: hsla(0, 0%, 100%,1)
      font-weight: 500
      &:focus
        color: hsla(0, 0%, 100%,1)
        font-weight: 500
  ul.dropdown-menu a
    color: $menu_link
    &:hover
      text-decoration: underline
.download_error
  font:
    size: 1.45rem
    weight: bold
    style: italic
  color: hsla(0, 100%, 50%, 1)
.title_prog
  font-size: 1.5rem
  color: $menu_link
.home_header_title
  color: hsla(212, 80%, 42%, 1)
  font:
    size: 2.5rem
    family: ComfortaaRegular
    weight: 400
.green
  color: green
.orange
  color: orange
.purpure
  color: purple
.helvetica
  font-family: Helvetica, Arial, sans-serif
.white
  color: white
.weight_mid
  font-weight: 600
.home_top_quote
  color: red
  font-size: 1.1rem
  padding-bottom: 5px
  margin-right: 5px
.home_line_menu
  color: #FFFFFF
  font:
    weight: 100
    size: 2rem
nav .btn-group a.btn
  color: #000000
  &:hover
    color: $menu_link
.slider
  color: hsla(0, 0%, 100%, 1)
  text-decoration: underline
  font-size: 3.5rem
  letter-spacing: 5px
.theme_letter
  color: hsla(0, 0%, 100%, 1)
  font:
    size: 1.3rem
    weight: 600