@font-face {
  font-family: ComfortaaRegular;
  src: local("Comfortaa"), url(../fonts/comfortaa-regular.ttf); }
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem; }

.h_title {
  font-size: 2.725rem;
  font-weight: bolder;
  color: white; }

.font1 {
  color: black;
  font-size: 1.85rem;
  font-weight: normal;
  margin-top: 0; }

.font2 {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.6rem; }

.font3 {
  color: #000;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.3rem; }

.font4 {
  color: #1565c1;
  font-weight: bold;
  font-size: 1.3rem; }

.letter_top {
  color: #969696;
  font-size: 18px;
  display: inline-block; }
  .letter_top:hover {
    text-decoration: none; }

.letter_links {
  color: white;
  font-size: 15px;
  line-height: 0; }

.story {
  font-size: 1.625rem;
  color: rgba(0, 0, 204, 0.8); }

.copyright {
  font-size: 1.2rem; }

.form_close {
  font-size: 24px; }

.bright {
  font-weight: normal;
  color: #969696; }

.color_training {
  color: #9d41b4; }

.color_plan {
  color: #d54215; }

.base_little {
  font-size: 1.3rem; }

.base {
  font-size: 1.5rem; }

.base_menu {
  font-size: 1.625rem; }

.base_menu_mid {
  font-size: 1.8rem; }

.base_menu_big {
  font-size: 2.1rem; }

.italic {
  font-style: italic; }

.search_name {
  font-size: 1.57rem;
  font-weight: bold;
  line-height: 1.7rem; }

.header_bottom_menu {
  font-size: 1.7rem;
  line-height: 1.8rem; }

.input {
  font-size: 1.5rem; }

.button_header {
  font-size: 1.5rem;
  color: white; }

.buttom_reg {
  font-size: 1.625rem;
  color: #1565c1; }

.comment {
  font-size: 1.2rem;
  font-style: oblique; }

.prog_remove {
  color: red;
  font-size: 1.6rem; }

.prog_add {
  color: green;
  font-size: 1.5rem; }

.b {
  font-weight: bold; }

.remove {
  color: red; }

.header_bottom_line_menu {
  color: #FFFFFF;
  font-weight: 500; }
  .header_bottom_line_menu:hover {
    color: #FFFFFF;
    text-decoration: none; }

.header_dropdown .btn-default {
  color: black; }
  .header_dropdown .btn-default:hover {
    color: white;
    text-decoration: none; }
.header_dropdown ul.nav-pills a.btn:hover {
  color: white; }

ul.right_menu a {
  color: black; }
  ul.right_menu a:hover {
    color: #1565c1; }

.header_bottom_line .btn-group .btn-link {
  color: white;
  font-weight: 500; }
  .header_bottom_line .btn-group .btn-link:focus {
    color: white;
    font-weight: 500; }
.header_bottom_line ul.dropdown-menu a {
  color: #1565c1; }
  .header_bottom_line ul.dropdown-menu a:hover {
    text-decoration: underline; }

.download_error {
  font-size: 1.45rem;
  font-weight: bold;
  font-style: italic;
  color: red; }

.title_prog {
  font-size: 1.5rem;
  color: #1565c1; }

.home_header_title {
  color: #1565c1;
  font-size: 2.5rem;
  font-family: ComfortaaRegular;
  font-weight: 400; }

.green {
  color: green; }

.orange {
  color: orange; }

.purpure {
  color: purple; }

.helvetica {
  font-family: Helvetica, Arial, sans-serif; }

.white {
  color: white; }

.weight_mid {
  font-weight: 600; }

.home_top_quote {
  color: red;
  font-size: 1.1rem;
  padding-bottom: 5px;
  margin-right: 5px; }

.home_line_menu {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 2rem; }

nav .btn-group a.btn {
  color: #000000; }
  nav .btn-group a.btn:hover {
    color: #1565c1; }

.slider {
  color: white;
  text-decoration: underline;
  font-size: 3.5rem;
  letter-spacing: 5px; }

.theme_letter {
  color: white;
  font-size: 1.3rem;
  font-weight: 600; }

/*# sourceMappingURL=typography.css.map */
