doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Базовый шаблон
   body
      //Header
      header
         include ./includes/_top_header
         .bottom_header_img.bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="text-align: left; margin-top: 80px")
               span.h_title(style="color: hsla(0, 0%, 0%, 1)") ШАБЛОН
               br
               br
      //Content
      main
         include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts

