doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Направление подготовки.
   body
      //Header
      header
         include ./includes/_top_header
         .bottom_header_img.bottom_header.doc_background_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.bottom_menu.bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title.flex_col(style="text-align: left; justify-content: flex-start")
               span.h_title.base_menu_mid(style="margin: auto auto 0 3%") Бакалавриат
               span.h_title(style="margin: 0 3% auto 3%;") Направление подготовки "Математическое обеспечение и администрирование информационных систем"
               br
               br
            .header_bottom_line
               .btn-group
                  button.btn.btn-link.dropdown-toggle(data-toggle="dropdown") Главное
                  ul.dropdown-menu(style="border: none")
                     li
                        a(href="#") Об университете
                     li
                        a(href="#") Новости
                     li
                        a(href="#") Как нас найти
                  .btn_line
               .btn-group
                  button.btn.btn-link.dropdown-toggle(data-toggle="dropdown") Абитуриенту
                  ul.dropdown-menu(style="border: none")
                     li
                        a(href="#") Направления обучения
                     li
                        a(href="#") Вступительные экзамены
                     li
                        a(href="#") Сроки подачи заявлений
                  .btn_line
               .btn-group
                  button.btn.btn-link.dropdown-toggle(data-toggle="dropdown") Студенту
                  ul.dropdown-menu( style="border: none")
                     li
                        a(href="#") Расписание
                     li
                        a(href="#") Мероприятия
                     li
                        a(href="#") Сроки сессии
                  .btn_line
               .btn-group
                  button.btn.btn-link.dropdown-toggle(data-toggle="dropdown") Сотруднику
                  ul.dropdown-menu( style="border: none")
                     li
                        a(href="#") Когда зарплата
                     li
                        a(href="#") Почему лень работать
                     li
                        a(href="#") Зачем мне всё это
                  .btn_line
      //Content
      main
         div(style="margin: 0 2%")
            .content1.border_none
               .h_title(style="text-align: left; color: #000000; margin: 0 20px 20px 40px; width: 90%") Документы
               .content1.up.border_none.margin_left
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.block.margin_left В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  .dowload_file.margin_left
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     | (.pdf)
               .content1.up.border_none.margin_left.prog_error
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.block.margin_left В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  .download_error.margin_left Данный раздел не заполнен!
               .content1.up.border_none.margin_left
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.block.margin_left В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  .dowload_file.margin_left
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     | (.pdf)
               .content1.up.border_none.margin_left
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.block.margin_left В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  .ata_prog.flex_row.flex_bet.margin_left.block
                     .title_prog Современные системы автоматизации разработки информационных систем
                     .faculty_prog.italic Факультет математики, информационных и авиационных технологий
                     .department.italic Кафедра информационных технологий
                  .dowload_file.margin_left
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     | (.pdf)
               .content1.up.border_none.margin_left
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.block.margin_left В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  .data_prog.flex_row.flex_bet.margin_left.block
                     .title_prog Современные системы автоматизации разработки информационных систем
                     .faculty_prog.italic Факультет математики, информационных и авиационных технологий
                     .department.italic Кафедра информационных технологий
                  .dowload_file.margin_left
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     | (.pdf)
                  .data_prog.flex_row.flex_bet.margin_left.block
                     .title_prog Современные системы автоматизации разработки информационных систем
                     .faculty_prog.italic Факультет математики, информационных и авиационных технологий
                     .department.italic Кафедра информационных технологий
                  .dowload_file.margin_left
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     | (.pdf)
         include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts
