doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Редактирование раздела "Документы".
   body
      //Header
      header
         include ./includes/_top_header
         .bottom_header_img.doc_edit_background_header.bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.bottom_menu.bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="text-align: left")
               span.h_title Редактирование раздела "Документы" основных  образовательных программ
               br
               br
            .header_bottom_line
      //Content
      main
         div(style="margin: 0 2%")
            .content1.border_none
               .h_title(style="text-align: left; color: #000000; margin: 0 20px 20px 40px; width: 90%") Документы
               .content1.border_none
                  b Выберите образовательную программу, которую хотите заполнить
                  select.selectpicker.up(data-width="80%")
                     option Программа 1
                     option Программа 2
                     option Программа 3
                  button.btn.buttom_reg.up(type="button", style=" width: 30%")
                     b.base_menu_mid Сохранить и перейти к заполнению
               .line.up
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.margin_left.block В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  div
                     button#new_prog_file_.btn.new_form_btn.margin_left
                        span.glyphicon.glyphicon-plus.prog_add
                        | Добавить файл
                  .download_file.margin_left Уже загруженные файлы:
                     br
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     span.glyphicon.glyphicon-remove.prog_remove.margin_left
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  span.base_menu_mid.up.block
                     b Информация о численности обучающихся по реализуемым образовательным программам за счёт бюджетных ассигнований федерального бюджета, бюджетов субъектов
                     |Российской Федерации, местных бюджетов и по договорам об образовании за счёт средств физических и (или) юридических лиц
                  .comment.margin_left
                     | 1) Документ формируется в текстовом редакторе Microsoft Word и сохраняется в формате *.pdf.
                     br
                     | 2) Представляется в формате таблицы на сайте (
                     a(href="#") таблица 6
                     | ).
                  div
                     button#new_prog_file_end_tabl_.btn.new_form_btn.margin_left
                        span.glyphicon.glyphicon-plus.prog_add
                        | Добавить файл
                  .download_file.margin_left
                     | Уже загруженные файлы:
                     br
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     span.glyphicon.glyphicon-remove.prog_remove.margin_left
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  span.base_menu_mid.up.block
                     b Аннотации к рабочим программам дисциплин (по каждой дисциплине в составе образовательной программы)
                  .comment.margin_left.block В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  div
                     button#castom_prog_.btn.btn-default.block.padding_top.new_form_btn Добавить рабочую программу
                  .line(style="width: 100%; margin: 10px auto")
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  .comment.margin_left.block(style="font-style: normal")
                     | Также вы можете добавить все рабочие программы одним файлом (.zip). Пример имени файла: Компьютерная_безопасность.pdf (
                     i Слова в названии должны быть разделены символом нижнего подчёркивания "_"
                     | ). Затем вам нужно установить соответствующие факультеты и кафедры и проверить правильность названия.
                     input#new_doc_zip.margin_left(type="file" )
                  div
                     button#castom_doc_.btn.btn-default.block.padding_top.new_form_btn Добавить новый документ
               .btn-group
                  button.btn.buttom_reg
                     b.base_menu_mid Сохранить
                  button.btn.buttom_reg
                     b.base_menu_mid Сохранить и продолжить редактирование
         .invis
            #new_prog_file_0.new_prog.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               .new_prog_file
                  input#new_prog_file(type="file")
               .or или
               .new_prog_zip
                  input#new_prog_zip(type="file")
                  p.up Добавить файл одним архивом(.zip)
            #new_prog_file_and_tabl_0.new_prog.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               .new_prog_file
                  input#new_prog_col_file(type="file")
               .or или
               .new_prog_zip
                  input#new_prog_col_zip(type="file")
                  p.up Добавить файл одним архивом(.zip)
            #castom_prog_0.new_prog_castom.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               b.base Введите название рабочей программы
               .block.up
                  input.form-control(type="text")
               .item_group_prog.up.block
                  .item_year.item_prog
                     p.base.b Выберите учебные года
                     select.selectpicker(data-width="100%")
                        option 2015/2016
                        option 2014/2015
                        option 2013/2014
                  .item_status.item_prog
                     p.base.b Выберите статус
                     select.selectpicker(data-width="100%")
                        option Обязательный
                        option Необязательный
                  .item_time.item_prog
                     p.base.b Когда читается
                     select.selectpicker(data-width="100%")
                        option 1-й курс, 1 семестр
                        option 1-й курс, 2 семестр
                        option 2-й курс, 1 семестр
                  .item_language.item_prog
                     p.base.b Выберите язык
                     select.selectpicker(data-width="100%")
                        option РУС
                        option АНГЛ
               input#new_castom_prog.up(type="file")
            #castom_doc_0.castom_doc.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               .new_doc.block
                  b.base_menu_mid.up Введите название нового документа
                  input.form-control.up(type="text")
               div
                  #new_castom_doc_0.new_prog.up
                     button.remove
                        i.glyphicon.glyphicon-remove
                     .new_doc_file
                        input#new_doc_col_file(type="file")
                     .or или
                     .new_doc_zip
                        input#new_doc_col_zip(type="file")
                        p.up Добавить файл одним архивом(.zip)
                  #new_castom_doc_.btn.new_form_btn
                     .glyphicon.glyphicon-plus.prog_add
                     | Добавить файл
               .download_file.up
                  | Уже загруженные файлы:
                  br
                  a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                  span.glyphicon.glyphicon-remove.prog_remove.margin_left
         include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts