doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Ульяновский государственный университет
   body
      //Header
      header
         include ./includes/_top_header_home
         .home_header_logo_left
         .home_header_logo_right
         .bottom_header_img.bottom_header.flex_row.border_none
            .home_logo
               .home_header_title Ульяновский государственный
                  br
                  | университет
                  p.bright.base_menu_mid.helvetica Классический выбор
               img(src="img/logo_home.png", alt="ULSU", style="width: auto; height: 70%")
               .home_logo_icons
                  a.letter_top(href="#")
                     .icon_map
                        img(src="img/icons_map.png", alt="icon_map", style="width: 100%; height: 100%")
                  a.letter_top(href="#")
                     .icon_piramid
                        img(src="img/icons_piramid.png", alt="icon_piramid", style="width: 100%; height: 100%")
            .home_menu
               .item_abit.home_menu_item
                  ul
                     li.orange.weight_mid Абитуриенту
                     li
                        a(href="#") Бакалавриат
                     li
                        a(href="#") Специалитет
                     li
                        a(href="#") Магистратура
               .item_stud.home_menu_item
                  ul
                     li.green.weight_mid Студенту
                     li
                        a(href="#") Расписание
                     li
                        a(href="#") Общие студенческие
                         br
                         | ресурсы
                     li
                        a(href="#") Общежитие
                     li
                        a(href="#") Аспирантура
               .item_all.home_menu_item
                  ul
                     li.purpure.weight_mid Общие
                     li
                        a(href="#") Структура
                     li
                        a(href="#") Ресурсы
                     li
                        a(href="#") Адреса и контакты
      //Content
      nav(style="position: relative; width: 100%; max-width: 1280px; margin: 0 auto")
         a#home_line_menu_add.home_line_menu
            i.fa.fa-align-justify
         a#home_line_menu_close.home_line_menu(style="display: none")
            i.fa.fa-times
         .btn-group.up(style="width: 93%")
            a.btn.btn-link(href="#") Об университете
            a.btn.btn-link(href="#") Образовательные программы
            a.btn.btn-link(href="#") Научная деятельность
            a.btn.btn-link(href="#") Довузовское образование
            a.btn.btn-link(href="#") Студентам
            a.btn.btn-link(href="#") Выпускникам
            a.btn.btn-link(href="#") Сотрудникам
            a.btn.btn-link(href="#") Структура
         #home_line_menu.btn-group(style="display: none")
            a.btn.btn-link(href="#") Базовые кафедры
            a.btn.btn-link(href="#") Социальная политика
            a.btn.btn-link(href="#") Аккредитация УлГУ
            a.btn.btn-link(href="#") Попечительский совет
            a.btn.btn-link(href="#") Система менеджмента качества
            a.btn.btn-link(href="#") Школы-партнёры
            a.btn.btn-link(href="#") Сотрудничество
      main(style="margin-top: 20px")
         .container
            .content1.border_none(style="width: 61%; flex-basis: auto")
               #carousel-example-generic.carousel.slide(data-ride="carousel" style="width: 100%;")
                  //Indicators
                  ol.carousel-indicators(style="bottom: -30px")
                     li.active(data-target="#carousel-example-generic" data-slide-to="0")
                     li(data-target="#carousel-example-generic" data-slide-to="1")
                     li(data-target="#carousel-example-generic" data-slide-to="2")
                     li(data-target="#carousel-example-generic" data-slide-to="3")
                  //Wrapper for slides
                  .carousel-inner
                     .item.active
                        img(src="./img/home_slide_12.jpg" alt="Slide_11")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                     .item
                        img(src="./img/home_slide_12.jpg" alt="Slide_12")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                     .item
                        img(src="./img/home_slide_12.jpg" alt="Slide_13")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                     .item
                        img(src="./img/home_slide_12.jpg" alt="Slide_14")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                  //Controls
                  a.left.carousel-control(href="#carousel-example-generic" data-slide="prev")
                  a.right.carousel-control(href="#carousel-example-generic" data-slide="next")
                  //.carousel_chrome

               .table_content
                  .news_row
                     .logo_row
                        img.img-circle(src="./img/news_1.bmp" width="auto" height="100%")
                        p.purpure.base.b 24
                        p.bright.base_little января 2015г.
                     .data_row
                        .title_row
                           a.base_menu_big(href="#") УлГУ откроет свои двери для абитуриентов
                        .text_row.up 8 февраля УлГУ приглашает всех абитуриентов на день открытых дверей.
                           | В этот день абитуриенты получат возможность ближе познакомиться с деятельностью сразу двух подразделений:
                           | юридического вакультета и факультета гумунитарных наук и социальных технологий.
                        .theme_row
                           .theme_letter(style="background-color: hsla(123, 38%, 64%, 1)") У
                           a(href="#") Новости
                           a(href="#") Абитуриенту
                           i.fa.fa-circle(style="font-size: 0.5rem; color: hsla(0, 0%, 60%, 1); margin: 10px 10px; float: top")
                           a(href="#") День открытых дверей
            nav.home_nav
               .home_news
                  .events
                     .item_title Мероприятия
                     .item_content
                        a(href="#")
                           .item_row
                              span 17 ноября - 18 ноября
                              span Дистанционный цикл
                              span повышения квалификации средних медицинских работников
                        .hr
                        a(href="#")
                           .item_row
                              span 17 ноября - 18 ноября
                              span Итоговая государственная
                              span аттестация
                        .hr
                  .warning
                     .item_title Важно
                     .item_content
                        a(href="#")
                           .item_row
                              span Приёмная комиссия
                              span информирует
                        .hr
                        a(href="#")
                           .item_row
                              span Программа
                              span стратегического развития УлГУ
                        .hr
                        a(href="#")
                           .item_row
                              span Консультативный сектор
                              span по вопросам реорганизации ВУЗов
                        .hr
                        a(href="#")
                           .item_row
                              span УлГУ в
                              span рейтингах
                        .hr
                        a(href="#")
                           .item_row
                              span УлГУ
                              span ТВ
                        .hr
                        a(href="#")
                           .item_row
                              span Виртуальный тур
                              span по УлГУ
                        .hr
                        a(href="#")
                           .item_row
                              span Расписание работы
                              span компьютерных классов
                        .hr
                        a(href="#")
                           .item_row
                              span Расписание работы
                              span мультимедийных классов
                        .hr
                        a(href="#")
                           .item_row
                              span Сборник
                              span резюме УлГУ
               .home_info
                  .schedule
                     .item_title Понедельник
                        i.fa.fa-clock-o.fa-lg
                        br
                        | 2 неделя | 5 пара
                        br
                        | 14:50 - 16:10
                  .news_menu
                     .item_title Рубрикатор новостей
                     .item_content
                        a(href='#')
                           .item_row Все новости УлГУ
                        .hr
                        a(href='#')
                           .item_row Студентам
                        .hr
                        a(href='#')
                           .item_row Научная деятельность
                        .hr
                        a(href='#')
                           .item_row Спортивные новости
                        .hr
                        a(href='#')
                           .item_row Пресса об УлГУ
                        .hr
                        a(href='#')
                           .item_row Университетские новости
                  .accessibility
                     | Версия для людей с ограниченными возможностями
                     i.fa.fa-eye.fa-lg
                  .catalog
                     .item_title Справочники
                     .item_content
                        a(href='#')
                           .item_row Телефоы
                        a(href='#')
                           .item_row Доменные имена
                        a(href='#')
                           .item_row Символика
                  .question
                     .item_title
                        | Задать вопрос?
                        span.fa-stack
                           i.fa.fa-question.fa-stack-1x
                           i.fa.fa-circle-thin.fa-stack-2x
                  .typo
                     .item_title
                        | Нашли опечатку?
                        i.fa.fa-pencil-square-o.fa-lg
                     .item_content
                     | Выделите её, нажмите Ctrl+Enter и отправьте нам уведомление. Спасибо за участие!

      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts

