doctype html
html
   head
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Сведения об образовательной организации.
   body

      //Header
      header
         include ./includes/_top_header
         .bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.edu_bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="justify-content: center")
               span.h_title(style="color: #000000; margin-bottom: 40px") Образование.
      //Content
      main
         .container
            .content1
               span.font1 Образование в Ульяновском государственном университете.
               span.up.font2 В УлГУ реализуется N бакалаворских, M магистерских, S специалитет образовательных программ.
               .header_dropdown
                  button.btn.btn-default(data-toggle="dropdown") Высшее образование &nbsp;&nbsp;
                     span.caret
                  ul.dropdown-menu.nav-pills(style="border: none; top: 18%; left: 1%")
                     li
                        a.btn.btn-default(href="#") Бакалавриат
                     li
                        a.btn.btn-default(href="#") Магистратура
                     li
                        a.btn.btn-default(href="#") Специалитет
                  a.btn.btn-default(href="#") Средне специальное образование
                  a.btn.btn-default(href="#") Аспирантура
                  a.btn.btn-default(href="#") Ординатура
               .table_content
                  .table_header
                     .number
                     .program
                        span.bright Программа
                     .training
                        span.bright Обучение
                     .plan
                        span.bright План приёма 2015г.
                  //Start new section
                  .table_row
                     .table_row_title
                        .table_row_title_number.number 09.00.00
                        .table_row_title_name.program Информатика и вычислительная техника.
                     .table_row_data
                        //Start new row
                        .table_row_data_new
                           .number.right 09.12.13
                           .program
                              a(href="#") Информатика и вычислительные технологии.
                              span.bright Факультет математики, информационных и авиационных технологий.
                              br
                              | Кафедра прикладной математики.
                           .training 2 года
                              br
                              span.color_training Очная/Заочная
                           .plan
                              span.color_plan 10 бюджетных
                              br
                              | 5 платых
                  //Start new section
                  .table_row
                     .table_row_title
                        .table_row_title_number.number 09.00.00
                        .table_row_title_name.program Информатика и вычислительная техника.
                     .table_row_data
                        //Start new row
                        .table_row_data_new
                           .number.right 09.12.13
                           .program
                              a(href="#") Информатика и вычислительные технологии.
                                 br
                              span.bright Факультет математики, информационных и авиационных технологий.
                                 br
                                 | Кафедра прикладной математики.
                           .training
                              | 2 года
                              br
                              span.color_training Очная/Заочная
                           .plan
                              span.color_plan 10 бюджетных
                              br
                              | 5 платых
                        //Start new row
                        .table_row_data_new
                           .number.right 09.12.13
                           .program
                              a(href="#") Информатика и вычислительные технологии.
                              br
                              span.bright Факультет математики, информационных и авиационных технологий.
                              br
                              | Кафедра прикладной математики.
                           .training
                              | 2 года
                              br
                              span.color_training Очная/Заочная
                           .plan
                              span.color_plan 10 бюджетных
                              br
                              | 5 платых

            nav
               ul.right_menu.font3
                  li
                     b Основные сведения
                  li
                     a(href="#") Структура и органы управления образовательной организацией
                  li
                     a(href="#") Образование
                  li
                     a(href="#") Образовательные стандарты
                  li
                     a(href="#") Руководство Педагогический(научно-педагогический) состав
                  li
                     a(href="#") Материально-техническое обеспечение и оснащённость образовательного процесса
                  li
                     a(href="#") Стипендии и иные виды материальной поддержки
                  li
                     a(href="#") Платные образовательные услуги
                  li
                     a(href="#") Финансово-хозяйственная деятельность
                  li
                     a(href="#") Вакантные места для приёма (перевода)
            include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts