doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Регистрация нового ответственного.
   body
      //Header
      header
         include ./includes/_top_header
         .bottom_header_img.reg_background_header.bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="text-align: left")
               span.h_title Регистрация нового ответственного
               br
               br

      //Content
      main
         include ./includes/_modal_div
         .content1(style="border: none")
            .article.reg_done
               b
                  span.base_menu Форма успешно сохранена!
               br
               span.base_menu_big Теперь вы можете распечатать служебную записку, также все данные были отправлены на email адрес.
               br
               a(download="#") Скачать служебную записку
            .article.base(style="font-style: oblique")
               | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
               | При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
               | По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
            .form
               #alternative_reg.form_registration.alternative
                  | ФИО.
                  br
                  input.reg_form_input.reg_form_input_alternative(type="text", placeholder="ФИО")
                  br
                  br
                  | E-mail
                  br
                  input.reg_form_input.reg_form_input_alternative(type="email", placeholder="E-mail")
                  br
                  br
                  | Телефон
                  br
                  input.reg_form_input.reg_form_input_alternative(type="tel" placeholder="Телефон")
                  br
                  br
                  | Выберете структурное подразделение(начните вводить название)
                  br
                  input.reg_form_input.reg_form_input_alternative(type="text", placeholder="Подразделение")
                  br
                  br
                  input.buttom_reg(type="button" value="Зарегистрироваться и получить служебную записку")
                  br
               .form_registration.primary
                  | Фамилия (начните вводить свою фамилию).
                  br
                  input.reg_form_input(type="text", placeholder="Фамилия")
                  br
                  br
                  | E-mail
                  br
                  input.reg_form_input(type="email", placeholder="E-mail")
                  br
                  br
                  | Выберете структурное подразделение(начните вводить название)
                  br
                  input.reg_form_input(type="text", placeholder="Подразделение")
                  br
                  input.buttom_reg.base_menu_big(type="button", value="Зарегистрироваться и получить служебную записку")
                  br
                  br
                  br
                  a.base(onClick="menu('#alternative_reg'); return false") Я не нашёл себя в списках сотрудников УлГУ
                  br
                  | Да, я прокрутил список справа.
                  br
               .form_search_users.mCustomScrollbar(data-mcs-theme="minimal-dark")
                  .user_row
                     span.search_name Иванов Иван Иванович
                     br
                     | Место работы:
                     ul.search_job
                        li Место работы 1
                        li Место работы 2
                     input.buttom_reg(type="button", value="Да, это я.")
                  .user_row
                     span.search_name Иванов Иван Иванович
                     br
                     | Место работы:
                     ul.search_job
                        li Место работы 1
                        li Место работы 2
                     input.buttom_reg(type="button", value="Да, это я.")
                  .user_row
                     span.search_name Иванов Иван Иванович
                     br
                     | Место работы:
                     ul.search_job
                        li Место работы 1
                        li Место работы 2
                     input.buttom_reg(type="button", value="Да, это я.")
                  .user_row
                     span.search_name Иванов Иван Иванович
                     br
                     | Место работы:
                     ul.search_job
                        li Место работы 1
                        li Место работы 2
                     input.buttom_reg(type="button", value="Да, это я.")
                  .user_row
                     span.search_name Иванов Иван Иванович
                     br
                     | Место работы:
                     ul.search_job
                        li Место работы 1
                        li Место работы 2
                     input.buttom_reg(type="button", value="Да, это я.")
                  .user_row
                     span.search_name Иванов Иван Иванович
                     br
                     | Место работы:
                     ul.search_job
                        li Место работы 1
                        li Место работы 2
                     input.buttom_reg(type="button", value="Да, это я.")

      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts