footer
   .footer
      .copyright_footer
         span.bright.copyright Copyright &copy; Ульяновский государственный университет, 1995-2015
      .info
         .adr_title Как нас найти
         .adr_content
            .adress.font3
               span.font4 Почтовый адрес:
               br
               | Россия, г. Ульяновск, 432017, ул. Л.Толстого, 42
               br
               br
               span.font4 Телефон:
               br
               | Общий отдел:
               br
               | 8(7422) 41-20-88
               br
               | Приёмная комиссия:
               br
               | 8(8422)41-20-90
               br
               br
            .mail.font3
               span.font4 Факс:
               br
               | Общий отдел:
               br
               | 8(8422)41-20-88
               br
               br
               span.font4 Технические вопросы:
               br
               | Администрация сайта
               br
               a(href="mailto:webmaster@ulsu.ru") webmaster@ulsu.ru
               br
               br
               span .font4 E-mail:
               br
               a(href="mailto:contact@ulsu.ru") contact@ulsu.ru
               br
               br
      .links_box
         .links_title Мы в соц.сетях
         .links_content
            a(href="https://www.vk.com" target="_blank")
               .links.vk
                  span.letter_links
                     i.fa.fa-vk
               | &nbsp;Вконтакте
               br
            a(href="http://www.facebook.com" target="_blank")
               .links.fb
                  span.letter_links
                     i.fa.fa-facebook
               | &nbsp;Facebook
               br
            a(href="http://www.twitter.com" target="_blank")
               .links.tw
                  span.letter_links
                     i.fa.fa-twitter
               | &nbsp;Twitter
               br
            a(href="https://www.plus.google.com" target="_blank")
               .links.gp
                  span.letter_links
                     i.fa.fa-google-plus
               | &nbsp;GooglePlus
               br
            a(href="https://www.youtube.com" target="_blank")
               .links.yt
                  span.letter_links
                     i.fa.fa-youtube
               | &nbsp;YouTube