#header_bottom_menu.menu.header_bottom_menu
   .form_close(onClick="menu('#header_bottom_menu'); return false", style="float: left; margin-top: 15px")
      span.letter_top
         i.fa.fa-times
   .bright.base_menu(style="margin: 0 15px")
      ul.bottom_menu_open.bright
         li
            b Об университете
         li
            a(href="#") Образовательные программы
         li
            a(href="#") Научная деятельность
         li
            a(href="#") Довузовское образование
         li
            a(href="#") Студентам
         li
            a(href="#") Выпускникам
         li
            a(href="#") Сотрудникам
         li
            a(href="#") Структура
         li
            a(href="#") Базовые кафедры
         li
            a(href="#") Социальная политика
         li
            a(href="#") Аккредитация УлГУ
         li
            a(href="#") Попечительский совет
         li
            a(href="#") Система менеджмента качества
         li
            a(href="#") Школы-партнёры
         li
            a(href="#") Сотрудничество
