//link(rel="stylesheet", type="text/css", media="screen and (max-width: 1024px)", href="css/style_smartphon.css")
link(rel="stylesheet", type="text/css", media="screen", href="css/style_global.css")
link(rel="stylesheet", type="text/css", href="libs/fort_awesome/css/font-awesome.min.css")
link(rel="stylesheet", type="text/css", href="css/jquery.mCustomScrollbar.min.css")
link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="css/bootstrap-select.min.css")

