#header_top_menu.modal_div
   .modal_close.form_close(style="position: absolute; right: 0; top: 0px")
      span.letter_top
         i.fa.fa-times
   | Структура универаСтруктура универаСтруктура универа
   br
   | Структура универаСтруктура универаСтруктура универа
   br
   | Структура универаСтруктура универаСтруктура универа
   br
   | Структура универаСтруктура универаСтруктура универа
   br
   | Структура универаСтруктура универаСтруктура универа
   br
   | Структура универаСтруктура универаСтруктура универа
   br