script(src="js/menu_div.js" async)
script(src="js/jquery.min.js")
script(src="js/jquery.mCustomScrollbar.concat.min.js")
script.
    (function ($) {
        $(window).load(function () {
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
script(src="js/bootstrap.min.js")
script(src="js/header_line_menu.js")
script(src="js/bootstrap-select.min.js")
script(src="js/defaults-ru_RU.min.js")
script.
    $('.selectpicker').selectpicker();
script(src="js/modal.js")
script(src="js/add_remove_prog.js")
script(src="js/home_nav_line.js")