.top_header
    a.open_modal.letter_top.bright(href="#header_top_menu")
        .top_menu
            i.fa.fa-align-justify
        #overlay
    .logo
        a(href='index.html')
            img(src="img/logo.png", alt="ULSU", style="width:40px; height:40px")
    .story
        a(href="#")
            span.story Сведения об образовательной организации
        span(style="color: hsla(0,0%,0%,1)") /Основные сведения
        #header_search_menu.menu.header_search_menu.base
            .user_menu_title Поиск
            .form_close(onClick="menu('#header_search_menu'); return false", style="float: right")
                span.letter_top
                    i.fa.fa-times
            input.input(type="text", style="margin-bottom: 20px", placeholder="Что ищем??")
            input.button_header(type="button", value="Искать")
        #header_user_menu.menu.header_user_menu.base
            .user_menu_title Авторизация
            .form_close(onClick="menu('#header_user_menu'); return false", style="float: right")
                span.letter_top
                    i.fa.fa-times
            input.input(type="text", autocomplete="on", placeholder="Логин")
            input.input(type="password", autocomplete="off", placeholder="Пароль")
            .error_password
                div(style="float: left; margin: 5% 0 5% 10%")
                    a.bright(href="#") Забыли пароль?
                div(style="float: right; margin: 5% 10% 5% 0")
                    a.bright(href="registration.html") Регистрация.
                input.button_header(type="button", value="Войти")
        .user_active.base User &nbsp;|
            a(href="#") Список пользователей &nbsp; |&nbsp;
            a(href="#") Выйти
    .user
        #user_icons.letter_top.user_icons(onClick="menu('#header_user_menu'); return false")
            i.fa.fa-user
        #search_icons.letter_top.user_icons(onClick="menu('#header_search_menu'); return false")
            i.fa.fa-search
    .language
        a(href="#") Rus
        | &nbsp;&nbsp;
        a(href="#") Eng
.line